<h1>Stupid Coaching</h1>



<h3>Ask your coach anything:</h3>
<!-- <div class="in-line"> -->
  <form id="searchbox" action="/answer" method="get">
    <input id="search" type="text" name="question" placeholder="type here">
    <input id="submit" type="submit" value="ask">
    </form>
<!--   </div> -->

